h1{
    font-family:'Press Start 2P', cursive;
    color: #202020;
    text-align:center;
    margin-top: 40px;
    font-size: 50px;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform:translateX(-1000px);
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.over{
    background-color:#aeba89;
}
span{
    font-family: 'Turret Road', cursive;
    color:#5e6745;
    font-weight:bold;
    font-size: 40px;
    text-align:center;
    display:block;
}
span:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
body{
    background-color:#e3eec0;
    width:100%;
    height:100%;
}
.background{
    background-color:#aeba89;
}
img:first-of-type:hover {
    animation: rotate 0.5s ;
    animation-iteration-count: infinite;
  }
  
  @keyframes rotate {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(50deg); }
    20% { transform: translate(-3px, 0px) rotate(70deg); }
    30% { transform: translate(3px, 2px) rotate(90deg); }
    40% { transform: translate(1px, -1px) rotate(130deg); }
    50% { transform: translate(-1px, 2px) rotate(150deg); }
    60% { transform: translate(-3px, 1px) rotate(180deg); }
    70% { transform: translate(3px, 1px) rotate(190deg); }
    80% { transform: translate(-1px, -1px) rotate(200deg); }
    90% { transform: translate(1px, 2px) rotate(250deg); }
    100% { transform: translate(1px, -2px) rotate(270deg); }
  }
.gameover{
    width:114px;
    height:168px;
    display:block;
    margin:auto;
    margin-bottom:30px;
    margin-top:30px;
}
h2{
    font-family: 'Turret Road', cursive;
    color:#5e6745;
    font-weight:bold;
    font-size: 40px;
    text-align:center;
    display:block;
}
a{
    font-family:'Press Start 2P', cursive;
     color:#aeba89;
     font-size:20px;
     text-decoration: none;
}
.Try{
    text-align:left;
    margin-left:30px;
}
.Coin{
    text-align:left;
    margin-left:75px
}
a:hover{
    font-size:22px;
    color:#202020
}
.piece{
    margin-left:10px;
}
a:active{
    text-decoration:line-through;
}
h2:hover {
    animation: shakeshake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shakeshake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    50% { transform: translate(-10px, 20px) rotate(-1deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }